html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

html header,
body header {
  padding: 30px;
  background-color: #35917d;
}

html header div.sign-menu ul,
body header div.sign-menu ul {
  margin-left: auto;
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

html header div.sign-menu ul li,
body header div.sign-menu ul li {
  width: 60px;
  height: 20px;
  margin-left: 5px;
  margin-right: 3px;
  font-size: 14px;
  position: relative;
}

html header div.sign-menu ul li:hover,
body header div.sign-menu ul li:hover {
  opacity: 0.5;
}

html header div.sign-menu ul li a,
body header div.sign-menu ul li a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}

html header div.blog-title,
body header div.blog-title {
  padding: 30px;
  padding-top: 0px;
  text-align: center;
}

html header div.blog-title a,
body header div.blog-title a {
  font-size: 50px;
  color: white;
  text-decoration: none;
}

html header div.blog-title a:hover,
body header div.blog-title a:hover {
  opacity: 0.5;
}

html main div.container,
body main div.container {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

html main div.container div.posts-list,
html main div.container div.users-list,
html main div.container div.my-posts-list,
body main div.container div.posts-list,
body main div.container div.users-list,
body main div.container div.my-posts-list {
  margin: auto;
  width: 80%;
}

html main div.container div.posts-list table,
html main div.container div.users-list table,
html main div.container div.my-posts-list table,
body main div.container div.posts-list table,
body main div.container div.users-list table,
body main div.container div.my-posts-list table {
  width: 100%;
  border-collapse: collapse;
}

html main div.container div.posts-list table thead tr,
html main div.container div.users-list table thead tr,
html main div.container div.my-posts-list table thead tr,
body main div.container div.posts-list table thead tr,
body main div.container div.users-list table thead tr,
body main div.container div.my-posts-list table thead tr {
  border-bottom: 1px dashed #ccc;
}

html main div.container div.posts-list table thead tr th,
html main div.container div.users-list table thead tr th,
html main div.container div.my-posts-list table thead tr th,
body main div.container div.posts-list table thead tr th,
body main div.container div.users-list table thead tr th,
body main div.container div.my-posts-list table thead tr th {
  padding: 8px 0px 8px 8px;
  font-size: 20px;
}

html main div.container div.posts-list table thead tr th.post-top,
html main div.container div.posts-list table thead tr th.user-top,
html main div.container div.users-list table thead tr th.post-top,
html main div.container div.users-list table thead tr th.user-top,
html main div.container div.my-posts-list table thead tr th.post-top,
html main div.container div.my-posts-list table thead tr th.user-top,
body main div.container div.posts-list table thead tr th.post-top,
body main div.container div.posts-list table thead tr th.user-top,
body main div.container div.users-list table thead tr th.post-top,
body main div.container div.users-list table thead tr th.user-top,
body main div.container div.my-posts-list table thead tr th.post-top,
body main div.container div.my-posts-list table thead tr th.user-top {
  font-size: 30px;
}

html main div.container div.posts-list table tbody tr,
html main div.container div.users-list table tbody tr,
html main div.container div.my-posts-list table tbody tr,
body main div.container div.posts-list table tbody tr,
body main div.container div.users-list table tbody tr,
body main div.container div.my-posts-list table tbody tr {
  border-bottom: 1px dashed #ccc;
}

html main div.container div.posts-list table tbody tr td,
html main div.container div.users-list table tbody tr td,
html main div.container div.my-posts-list table tbody tr td,
body main div.container div.posts-list table tbody tr td,
body main div.container div.users-list table tbody tr td,
body main div.container div.my-posts-list table tbody tr td {
  padding: 10px 0px 10px 8px;
  font-size: 20px;
}

html main div.container div.posts-list table tbody tr td a,
html main div.container div.users-list table tbody tr td a,
html main div.container div.my-posts-list table tbody tr td a,
body main div.container div.posts-list table tbody tr td a,
body main div.container div.users-list table tbody tr td a,
body main div.container div.my-posts-list table tbody tr td a {
  color: #35917d;
  text-decoration: none;
}

html main div.container div.posts-list table tbody tr td a:hover,
html main div.container div.users-list table tbody tr td a:hover,
html main div.container div.my-posts-list table tbody tr td a:hover,
body main div.container div.posts-list table tbody tr td a:hover,
body main div.container div.users-list table tbody tr td a:hover,
body main div.container div.my-posts-list table tbody tr td a:hover {
  opacity: 0.5;
}

html main div.container div.posts-list table tbody tr td.username,
html main div.container div.users-list table tbody tr td.username,
html main div.container div.my-posts-list table tbody tr td.username,
body main div.container div.posts-list table tbody tr td.username,
body main div.container div.users-list table tbody tr td.username,
body main div.container div.my-posts-list table tbody tr td.username {
  font-size: 15px;
}

html main div.container div.posts-list table tbody tr td.datetime,
html main div.container div.users-list table tbody tr td.datetime,
html main div.container div.my-posts-list table tbody tr td.datetime,
body main div.container div.posts-list table tbody tr td.datetime,
body main div.container div.users-list table tbody tr td.datetime,
body main div.container div.my-posts-list table tbody tr td.datetime {
  font-size: 13px;
}

html main div.container div.posts-show,
body main div.container div.posts-show {
  margin: auto;
  width: 80%;
}

html main div.container div.posts-show h1,
body main div.container div.posts-show h1 {
  font-size: 30px;
}

html main div.container div.posts-show div.btns,
body main div.container div.posts-show div.btns {
  float: right;
  padding-top: 30px;
}

html main div.container div.posts-show div.btns a.btn-edit,
body main div.container div.posts-show div.btns a.btn-edit {
  padding: 6px 18px;
}

html main div.container div.posts-show div.posts-show-header,
body main div.container div.posts-show div.posts-show-header {
  border-bottom: 1px dashed #ccc;
}

html main div.container div.posts-show div.posts-show-header p,
body main div.container div.posts-show div.posts-show-header p {
  margin-bottom: 5px;
  font-size: 12px;
}

html main div.container div.posts-show div.posts-show-header p a.username,
body main div.container div.posts-show div.posts-show-header p a.username {
  color: #35917d;
  text-decoration: none;
}

html main div.container div.posts-show div.posts-show-header p a.username:hover,
body main div.container div.posts-show div.posts-show-header p a.username:hover {
  opacity: 0.5;
}

html main div.container div.posts-show div.posts-show-body,
body main div.container div.posts-show div.posts-show-body {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #ccc;
}

html main div.container div.posts-show div.posts-show-body p.body,
body main div.container div.posts-show div.posts-show-body p.body {
  margin-left: 10px;
  padding-bottom: 20px;
  font-size: 15px;
}

html main div.container div.posts-show div.posts-show-body div.image,
body main div.container div.posts-show div.posts-show-body div.image {
  margin-left: 10px;
}

html main div.container div.comments-show,
body main div.container div.comments-show {
  margin: auto;
  width: 70%;
}

html main div.container div.comments-show div.comments-list,
body main div.container div.comments-show div.comments-list {
  padding: 30px 0px 10px 0px;
}

html main div.container div.comments-show div.comments-list h2,
body main div.container div.comments-show div.comments-list h2 {
  font-size: 20px;
}

html main div.container div.comments-show div.comments-list table,
body main div.container div.comments-show div.comments-list table {
  width: 100%;
  border-collapse: collapse;
}

html main div.container div.comments-show div.comments-list table tbody tr,
body main div.container div.comments-show div.comments-list table tbody tr {
  border-bottom: 1px dashed #ccc;
}

html main div.container div.comments-show div.comments-list table tbody tr td.datetime,
body main div.container div.comments-show div.comments-list table tbody tr td.datetime {
  font-size: 13px;
  text-align: right;
}

html main div.container div.comments-show div.comments-list table tbody tr td.delete-btn,
body main div.container div.comments-show div.comments-list table tbody tr td.delete-btn {
  text-align: right;
  padding-bottom: 3px;
}

html main div.container div.comments-show div.comments-list table tbody tr td.delete-btn button.btn-delete,
body main div.container div.comments-show div.comments-list table tbody tr td.delete-btn button.btn-delete {
  font-size: 12px;
  padding: 4px 10px;
}

html main div.container div.comments-show div.comment-form,
body main div.container div.comments-show div.comment-form {
  margin-top: 12px;
}

html main div.container div.comments-show div.comment-form button.btn-submit,
body main div.container div.comments-show div.comment-form button.btn-submit {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

html main div.container div.posts-create,
body main div.container div.posts-create {
  margin: auto;
  width: 80%;
}

html main div.container div.posts-create div.form-file label,
body main div.container div.posts-create div.form-file label {
  display: block;
}

html main div.container div.posts-create div.form-file button#image_reset,
body main div.container div.posts-create div.form-file button#image_reset {
  float: right;
}

html main div.container div.posts-create div.submit-btn,
body main div.container div.posts-create div.submit-btn {
  border-bottom: 1px dashed #ccc;
  margin-top: 20px;
}

html main div.container div.posts-create div.submit-btn button.btn-submit,
body main div.container div.posts-create div.submit-btn button.btn-submit {
  margin-top: 10px;
  float: right;
}

html main div.container div.posts-edit,
body main div.container div.posts-edit {
  margin: auto;
  width: 80%;
}

html main div.container div.posts-edit div.form-file label,
body main div.container div.posts-edit div.form-file label {
  display: block;
}

html main div.container div.posts-edit div.form-file img,
body main div.container div.posts-edit div.form-file img {
  padding: 10px 0px;
}

html main div.container div.posts-edit div.form-file button#image_reset,
body main div.container div.posts-edit div.form-file button#image_reset {
  float: right;
}

html main div.container div.posts-edit div.submit-btn,
body main div.container div.posts-edit div.submit-btn {
  border-bottom: 1px dashed #ccc;
  margin-top: 20px;
}

html main div.container div.posts-edit div.submit-btn button.btn-submit,
body main div.container div.posts-edit div.submit-btn button.btn-submit {
  margin-top: 10px;
  margin-bottom: 30px;
  float: right;
}

html main div.container div.users-show,
body main div.container div.users-show {
  margin: auto;
  width: 80%;
}

html main div.container div.users-show div.btns,
body main div.container div.users-show div.btns {
  float: right;
}

html main div.container div.users-show div.btns a.btn-edit,
body main div.container div.users-show div.btns a.btn-edit {
  padding: 6px 18px;
}

html main div.container div.users-edit,
body main div.container div.users-edit {
  margin: auto;
  width: 80%;
}

html main div.container div.users-edit div.submit-btn,
body main div.container div.users-edit div.submit-btn {
  border-bottom: 1px dashed #ccc;
  margin-top: 20px;
}

html main div.container div.users-edit div.submit-btn button.btn-submit,
body main div.container div.users-edit div.submit-btn button.btn-submit {
  margin-top: 10px;
  float: right;
}

html main div.container ul.pagination,
body main div.container ul.pagination {
  justify-content: center;
  padding-top: 10px;
}

html footer,
body footer {
  background-color: #35917d;
  margin-top: auto;
  padding-top: 15px;
  text-align: center;
}

html footer p,
body footer p {
  color: white;
  font-size: 10px;
  margin-bottom: 10px;
}

