html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

html header,
body header {
  padding: 30px;
}

html header div.sign-menu ul,
body header div.sign-menu ul {
  margin-left: auto;
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

html header div.sign-menu ul li,
body header div.sign-menu ul li {
  width: 60px;
  height: 40px;
  margin-left: 5px;
  margin-right: 3px;
  font-size: 14px;
  position: relative;
}

html header div.sign-menu ul li:hover,
body header div.sign-menu ul li:hover {
  opacity: 0.5;
}

html header div.sign-menu ul li a,
body header div.sign-menu ul li a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

html header div.blog-title,
body header div.blog-title {
  padding: 30px;
  padding-top: 10px;
  text-align: center;
}

html header div.blog-title a,
body header div.blog-title a {
  font-size: 50px;
  color: black;
  text-decoration: none;
}

html header div.blog-title a:hover,
body header div.blog-title a:hover {
  opacity: 0.5;
}

html main div.container,
body main div.container {
  margin-left: auto;
  margin-right: auto;
}

html main div.container div.posts-table p,
body main div.container div.posts-table p {
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
}

html main div.container div.posts-table table,
body main div.container div.posts-table table {
  font-size: 20px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 20px 30px;
}

html main div.container div.posts-table table thead,
body main div.container div.posts-table table thead {
  font-size: 15px;
}

html main div.container div.posts-table table td,
body main div.container div.posts-table table td {
  text-align: left;
}

html main div.container div.posts-table table td a,
body main div.container div.posts-table table td a {
  color: black;
  text-decoration: none;
}

html main div.container div.posts-table table td a:hover,
body main div.container div.posts-table table td a:hover {
  opacity: 0.5;
}

html main div.container div.posts-table table td img.image-size,
body main div.container div.posts-table table td img.image-size {
  max-width: 300px;
  height: auto;
}

html main div.container div.posts-table table td.username,
body main div.container div.posts-table table td.username {
  font-size: 15px;
}

html main div.container div.posts-table table td.datetime,
body main div.container div.posts-table table td.datetime {
  font-size: 12px;
}

html main div.container div.post-show,
body main div.container div.post-show {
  margin: auto;
  width: 80%;
}

html main div.container div.post-show a.username,
body main div.container div.post-show a.username {
  color: black;
  text-decoration: none;
}

html main div.container div.post-show a.username:hover,
body main div.container div.post-show a.username:hover {
  opacity: 0.5;
}

html main div.container div.post-show p.post-body,
body main div.container div.post-show p.post-body {
  font-size: 30px;
}

html main div.container div.post-show p.datetime,
body main div.container div.post-show p.datetime {
  font-size: 15px;
}

html main div.container div.user-area,
body main div.container div.user-area {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

html main div.container div.user-list table,
body main div.container div.user-list table {
  border-collapse: separate;
  border-spacing: 20px 5px;
}

html main div.container div.user-list table thead tr,
body main div.container div.user-list table thead tr {
  font-size: 30px;
}

html main div.container div.user-list table thead tr th,
body main div.container div.user-list table thead tr th {
  font-size: 25px;
}

html main div.container div.user-list table thead tr th.user-top,
body main div.container div.user-list table thead tr th.user-top {
  font-size: 30px;
}

html main div.container div.form-area,
body main div.container div.form-area {
  margin: auto;
  width: 80%;
}

html main div.container div.comment-list tr td,
body main div.container div.comment-list tr td {
  list-style: none;
}

html main div.container div.comment-list tr td.datetime,
body main div.container div.comment-list tr td.datetime {
  font-size: 10px;
}

html main div.container ul.pagination,
body main div.container ul.pagination {
  justify-content: center;
  padding-top: 10px;
}

html footer,
body footer {
  margin-top: auto;
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

a.btn {
  padding: 3px 8px;
}

button.btn {
  padding: 3px 8px;
}

